<% @body_id = 'signup' %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>

<div id="new-customer">
  <h6><%= Spree.t(:new_customer) %></h6>

  <div data-hook="signup">
    <%= form_for resource, :as => :spree_user, :method => :post, :url => spree.create_password_path(@user) do |f| %>
      <div data-hook="signup_inside_form">
        <p>
          <%= f.label :phone, Spree.t(:phone) %><br />
          <%= f.text_field :phone, class: 'title', readonly: true %>
        </p>
        <div id="password-credentials">
          <p>
            <%= f.label :password, Spree.t(:password) %><br />
            <%= f.password_field :password, :class => 'title' %>
          </p>

          <p>
            <%= f.label :password_confirmation, Spree.t(:confirm_password) %><br />
            <%= f.password_field :password_confirmation, :class => 'title' %>
          </p>
        </div>

        <p>
          <%= f.label :email, Spree.t(:email) %><br />
          <%= f.email_field :email, :class => 'title' %>
        </p>
        <div data-hook="signup_below_password_fields"></div>
        <p><%= f.submit Spree.t(:create), :class => 'button primary' %></p>
      </div>
    <% end %>
    <%= Spree.t(:or) %>&nbsp;<%= link_to Spree.t(:login_as_existing), spree.login_path %>

  </div>

</div>

<div data-hook="login_extras"></div>
