<% @body_id = 'signup' %>

<%= render :partial => 'spree/shared/error_messages', :locals => {:target => @user} %>

<div id="new-customer">
  <h6><%= Spree.t(:new_customer) %></h6>

  <div id="signup_method_tabs" data-hook="signup">
    <ul>
      <li><a href="#signup_with_phone">用手机号注册</a></li>
      <li><a href="#signup_with_email">用邮箱注册</a></li>
    </ul>
    <div id="signup_with_phone">
      <%= form_for resource, :as => :spree_user, :method => :post, :url => spree.register_with_phone_path() do |f| %>
          <div data-hook="signup_inside_form">
            <p>
              <%= f.label :phone, Spree.t(:phone) %><br/>
              <%= f.text_field :phone, class: 'title' %>
            </p>

            <p>
              <%= label_tag :sms_token, '验证码' %><br/>
              <%= text_field_tag :sms_token, "", :maxlength => 6 %>
              <%= f.submit '获取验证码', :class => 'button primary', :name => 'create_sms_token' %>
            </p>

            <div id="password-credentials">
              <p>
                <%= f.label :password, Spree.t(:password) %><br/>
                <%= f.password_field :password, class: 'title' %>
              </p>

              <p>
                <%= f.label :password_confirmation, Spree.t(:confirm_password) %><br/>
                <%= f.password_field :password_confirmation, class: 'title' %>
              </p>

              <p><%= f.submit '注册', :class => 'button primary', :tabindex => 3 %></p>

            </div>
          </div>
      <% end %>
    </div>
    <div id="signup_with_email">
      <%= form_for resource, :as => :spree_user, :method => :post, :url => spree.registration_path(@user) do |f| %>
          <div data-hook="signup_inside_form">
            <p>
              <%= f.label :email, Spree.t(:email) %><br/>
              <%= f.email_field :email, class: 'title' %>
            </p>
                <div id="password-credentials">
                  <p>
                    <%= f.label :password, Spree.t(:password) %><br/>
                    <%= f.password_field :password, class: 'title' %>
                  </p>

                  <p>
                    <%= f.label :password_confirmation, Spree.t(:confirm_password) %><br/>
                    <%= f.password_field :password_confirmation, class: 'title' %>
                  </p>

                  <p><%= f.submit '注册', :class => 'button primary', :tabindex => 3 %></p>

                </div>
          </div>
      <% end %>
    </div>
    <%= javascript_tag do %>
        $(function() {
        $('#signup_method_tabs').tabs();
        });
    <% end %>
    <%= Spree.t(:or) %>&nbsp;<%= link_to Spree.t(:login_as_existing), spree.login_path %>

  </div>

</div>

<div data-hook="login_extras"></div>
